<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="GuardianConnectionString" connectionString="Data Source=.\;Initial Catalog=GuardianEpmsTest;Integrated Security=True;"/>
    <add name="GuardianEpmsTestConnectionString" connectionString="Data Source=.\;Initial Catalog=GuardianEpmsTest;Integrated Security=True;"/>
    <add name="GuardianEpmsConnectionString" connectionString="Data Source=.\;Initial Catalog=GuardianEpmsTest;Integrated Security=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="ConnectionString" value="Data Source=.\;Initial Catalog=GuardianEpmsTest;Integrated Security=True;"/>
    <add key="LookupTableMetadataTableName" value="LookupTableMetadata"/>
    <add key="ValuePairLookupTableMaintenancePath" value="ValuePairLookupTableMaintenance.aspx"/>
    <add key="SearchLookupTablesPath" value="SearchLookupTableDescriptions.aspx"/>
    <add key="ExportsFilesPathName" value="C:\\inetpub\\wwwroot\\EpmsTest\\ExportFiles\\"/>
    <add key="DMVPathName" value="C:\\inetpub\\wwwroot\\EpmsTest\\DMV\\"/>
    <add key="XMLPathName" value="C:\\inetpub\\wwwroot\\EpmsTest\\XML\\"/>
    <add key="ReportPathName" value="C:\\inetpub\\wwwroot\\EpmsTest\\Reports\\"/>
    <add key="PolicyPDF" value="C:\\inetpub\\wwwroot\\EpmsTest\\PolicyPDF\\"/>
    <!--<add key="ConnStrPPS" value="Data Source=192.168.1.22\ppssqlserver;Initial Catalog=TestGIC;User ID=URClaims;password=3G@TD@t!1;"/>-->
    <add key="ConnStrPPS" value="Data Source=GIC-MSQL\PPSSQLSERVER;Initial Catalog=TestGic;User ID=URClaims;password=3G@TD@t!1;"/>
    <!--<add key="ConnStrPPS" value="Data Source=GIC-MSQL\PPSSQLSERVER;Initial Catalog=AgentTestData;User ID=URClaims;password=3G@TD@t!1;"/>-->
    <add key="ConnStrClaimNext" value="Data Source=.\;Initial Catalog=ClaimNext;Integrated Security=True;"/>
    <add key="IPMail" value="smtp.office365.com"/>
    <add key="ExcelPath" value="C:\\inetpub\\wwwroot\\EpmsTest\\HomeOwnerExcel\\"/>
    <add key="FileNameForVinDecode" value="C:\\inetpub\\wwwroot\\EpmsTest\\VINDecode\\"/>
    <!--<add key="IPMail" value="mail.guardianinsurance.com" />-->
    <add key="RootURL" value="C:\\inetpub\\wwwroot\\EpmsTest\\"/>
    <add key="ChartImageHandler" value="Storage=file;Timeout=20;Url=~/tempImages/;"/>
    <add key="storeId" value="1002878"/>
    <add key="storeKey" value="aEBdQi0zAWJC/J/u45CUMSWplvc7"/>
    <add key="entityId" value="222889"/>
    <add key="locationId" value="990133"/>
    <!--FINANCE MASTER WEBSERVICE  (PFC is for TEST)-->
    <add key="WebQuoteODBC" value="WebQuotesPFC"/>
    <add key="FMQODBC" value="FMQWebDBPFCSQL"/>
    <add key="ProcessType" value="WebService"/>
    <!--FINANCE MASTER WEBSERVICE-->
    <!--isPRODUCCION-->
    <add key="isProduction" value="false"/>
    <!--isPRODUCCION-->
  </appSettings>
  <system.web>
    <sessionState timeout="2880"/>
    <customErrors mode="Off"/>
    <!--httpRuntime maxUrlLength="10999" maxQueryStringLength="2097151" requestValidationMode="2.0" /-->
    <httpRuntime maxUrlLength="10999" maxQueryStringLength="2097151" executionTimeout="3600" maxRequestLength="2147483647" appRequestQueueLimit="100000" requestValidationMode="4.0" requestLengthDiskThreshold="2147483647"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.ReportViewer.ProcessingObjectModel, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows">
      <!--<forms loginUrl="~/Login.aspx" timeout="2880"/>-->
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" smartNavigation="true" maintainScrollPositionOnPostBack="true">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <!--<httpRuntime maxRequestLength="600000"/>-->
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="10999" maxQueryString="2097151"/>
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="Login.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="aspq-ISAPI-4.0_64bit"/>
      <remove name="ChartImageHandler"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add name="aspq-ISAPI-4.0_64bit" path="*.aspq" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TransactionProcessingSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="TransactionProcessingSoap1"/>
        <binding name="PaymentVaultSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="PaymentVaultSoap1"/>
        <binding name="PaymentVaultSoap2">
          <security mode="Transport"/>
        </binding>
        <binding name="PaymentVaultSoap3"/>
        <binding name="TransactionProcessingSoap2">
          <security mode="Transport"/>
        </binding>
        <binding name="TransactionProcessingSoap3"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ssl.selectpayment.com/PV/TransactionProcessing.asmx" binding="basicHttpBinding" bindingConfiguration="TransactionProcessingSoap" contract="TP.TransactionProcessingSoap" name="TransactionProcessingSoap"/>
      <endpoint address="https://ssl.selectpayment.com/PV/PaymentVault.asmx" binding="basicHttpBinding" bindingConfiguration="PaymentVaultSoap" contract="PV.PaymentVaultSoap" name="PaymentVaultSoap"/>
      <!--<endpoint address="https://ssl.selectpayment.com/PV/PaymentVault.asmx" binding="basicHttpBinding" bindingConfiguration="PaymentVaultSoap2" contract="PV.PaymentVaultSoap" name="PaymentVaultSoap1"/>-->
      <!--<endpoint address="https://ssl.selectpayment.com/PV/TransactionProcessing.asmx" binding="basicHttpBinding" bindingConfiguration="TransactionProcessingSoap2" contract="TP.TransactionProcessingSoap" name="TransactionProcessingSoap1"/>-->
    </client>
  </system.serviceModel>
</configuration>